<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>covid stores</title>

    <!-- Main Bootstrap and Css links -->
    <link rel="stylesheet" href="/bootstrap-4.5.0-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>



<body
 <div class="container">
    <div>
        <img width=80vh;,height=100vh; src="/images/covid.jpg" alt="" class="logo">
    </div>

    <div class="row" id="custReg">
        <div class="col ">
            <h1> Customer Registration. </h1>
            <form action="" name="agentReg" class="myForm">
                <fieldset>
                    <legend>Customer Details</legend>
                    <div>
                        <label for="firstName"> First Name: </label>
                        <input type="text" name="firstName" id="firstName"><br><br>
                    </div>

                    <div>
                        <label for="lastName"> Last Name:</label>
                        <input type="text" name="lastName" id="lastName"><br><br>

                    </div>

                    <div><label for=>Telephone Number:</label>
                        <input type="text" name= id=>
                    </div>

                    <div>
                        <label <label for="email address">Email Address:</label>
                        <input type="text" name="email address" id="email address"><br><br>
                    </div>
                    <div>
                        <label for="physical address">Physical Address: </label>
                        <input type="text" name="physical address" id="physical address"><br><br>
                    </div>
                    <div>
                        <label for="national id number">National ID number: </label>
                        <input type="text" name="national id number" id="national id number"><br><br>
                    </div>




                    <input style="background-color:rgb(218, 100, 32);"    type="Submit" onclick="">
                </fieldset>

            </form>
        </div>
    </div>
    </div>

    <br>
    <br>
    <br>

    <br>

    <footer>@copyright Bridget Akankunda</footer>
    <script src="/bootstrap-4.5.0-dist/js/bootstrap.min.js"></script>
</body>

</html>