<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/images/covid.jpg" sizes="16x16">
    <title>Customer Registration</title>

    <!-- Main Bootstrap and Css links -->
    <link rel="stylesheet" href="/bootstrap-4.5.0-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">
    <style>
        .custReg1,
        .custReg2 {
            display: inline-block;
        }

        form {
            justify-content: center;
            text-align: center;
        }
    </style>


</head>

<body>
    <!-- Navbar -->

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <img width=80vh;,height=100vh; src="/images/covid.jpg" alt="" class="logo">
        <a style="color:rgb(218, 100, 32);font-weight: bolder; font-size: xxx-large; font-family: inherit;"
            class="nav-link" class="navbar-brand" href="/customerPage">Covid Stores</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <a style="margin-left: auto;" class="btn btn-secondary" href="/homePage" role="button">Sign out</a>

        </div>
    </nav>
    <!-- Navbar -->
    <div class="container">
        <form action="/customerReg" method="POST" name="customerReg" id="customerReg">
            <div class="row">
                <div class="custReg1 form-group col-md-7">
                    <!-- <fieldset> -->
                    <legend>Customer Registration.</legend>
                    <div class="form-row">
                        <div class="form-group col-12">
                            <!-- <label for="firstName">First Name:</label> -->
                            <input type="text" class="form-control" id="firstName" pattern="[A-Za-z]+" name="firstName"
                                placeholder="Enter First Name">
                            <div class="error" id="errfirstName"></div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-12">
                            <!-- <label for="surName">Surname:</label> -->
                            <input type="text" class="form-control" pattern="[A-Za-z]+" id="surName" name="surName"
                                placeholder="Enter Surname">
                            <div class="error" id="errsurName"></div>
                        </div>
                    </div>
                    <div class="form-row">
                        <!-- <label>Gender</label> -->
                        <div class="form-group col-12">
                            <label><input type="radio" name="gender" id="gender" value="male"> Male</label>
                            <label><input type="radio" name="gender" id="gender" value="female"> Female</label>
                        </div>
                        <div class="error" id="errgender"></div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-12">
                            <!-- <label for="phoneNumber">Phone Number:</label> -->
                            <input type="number" class="form-control" pattern="^\+(?:[0-9]●?){6,14}[0-9]$" id="phoneNumber" name="phoneNumber"
                                placeholder="Enter Phone Number">
                            <div class="error" id="errphoneNumber"></div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-12">
                            <!-- <label for="email">Email Address:</label> -->
                            <input type="email" class="form-control"  id="email" name="email"
                                placeholder="eg. name@example.com">
                            <div class="error" id="erremail"></div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-12">
                            <!-- <label for="address">Physical Address:</label> -->
                            <input type="text" class="form-control" id="address" name="address"
                                placeholder="Enter Physical Address">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-12">
                            <!-- <label for="nin">National ID Number:</label> -->
                            <input type="text" class="form-control" id="nin" name="nin" placeholder="Enter NIN">
                            <div class="error" id="errnin"></div>
                        </div>
                    </div>

                </div>
                <!-- </fieldset>
            
                <!-- <fieldset> -->
                <div class="custReg2 form-group col-md-5">
                    <legend>purchase Register</legend>
                    <div class="form-row">
                        <div class="form-group col-12">
                            <!-- <label for="ItemName">Item Name:</label> -->
                            <input type="text" class="form-control" pattern="[A-Za-z]+" id="ItemName" name="itemName"
                                placeholder="Enter Item Name">
                            <div class="error" id="erritemName"></div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-12">
                            <!-- <label for="itemPrice">Item Price:</label> -->
                            <input type="text" class="form-control" pattern="[0-9]+" id="itemPrice" name="itemPrice"
                                placeholder="Enter Item price">
                            <div class="error" id="erritemPrice"></div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-12">
                            <!-- <label for="itemNumber">Item Number:</label> -->
                            <input type="number" class="form-control" pattern="[0-9]+" id="itemNumber" name="itemNumber"
                                placeholder="Enter ItemNumber">
                            <div class="error" id="erritemNumber"></div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-12">
                            <!-- <label for="initialPay">Initial Pay:</label> -->
                            <input type="initialPay" class="form-control" id="initialPay" name="initialPay"
                                placeholder="Enter Initial Pay">
                        </div>
                        <!-- </fieldset> -->
                    </div>
                </div>
                <input type="submit" id="custRegSubmit" name="custRegSubmit" value="Register">
            </div>
        </form>
    </div>
    <footer class="fixed-bottom" style="color: white; background-color: rgb(6,6,22); text-align: center;">@copyright
        Bridget Akankunda</footer>
    <!-- JS, Popper.js, and jQuery -->
    <script src="/bootstrap/js/bootstrap.js"></script>
    <script src="/bootstrap/js/popper.min.js"></script>
    
    <!-- js online -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
    <script src="/js/customerRegValidation.js"></script>


</body>


</html>