<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log In - Covid Stores</title>
    <link rel="icon" href="/images/covid.jpg" sizes="16x16">

    <!-- Main Bootstrap and Css links -->
    <link rel="stylesheet" href="/bootstrap-4.5.0-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>


<body>

    <!-- Container holding the image and the login form -->
    <div class="container-fluid">
        <div class="row" >
            <!-- Col holding the image -->
            <div class="col-7">
                <img width=98%; height=100%; src="/images/covid.jpg" alt="COVID STORE LOGO" srcset="">
            </div>
            <!-- Col holding the login form -->
            <div class="col-5"id="login-all">
                <div class="form-row">
                    <form action="/login" method="POST">
                        <h1>Login Here</h1>
                        <div class="form-row">
                            <div class="form-group">
                                <label for="employeeID">Employee ID</label>
                                <input type="text" class="form-control" name=employeeID id="employeeID"
                                    placeholder="Enter Employee ID" required>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group">
                                <label for="password">Password</label>
                                <input type="password" class="form-control" name="password" id="password"
                                    placeholder="Password" required>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group">
                                <input type="submit" class="form-control" name="loginSubmit" id="loginSubmit"
                                    value="Log In">
                            </div>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>

                        </div>
                        <div class="alert alert-info" id="alert">
                            <strong>Stay home Stay safe.Wash your hands with soap and water</strong> 
                        </div>

                    </form>

                </div>
            </div>
        </div>

    </div>



    <!-- Footer -->
    <footer>&#169 Bridget Akankunda 2020</footer>

    <!-- Linked Js files -->
    <script src="/bootstrap-4.5.0-dist/js/bootstrap.min.js"></script>
</body>

</html>