<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>

    <!-- Main Bootstrap and Css links -->
    <link rel="stylesheet" href="/bootstrap-4.5.0-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="container">
        <div>
            <img width=80vh;,height=100vh; src="/images/covid.png" alt="" class="logo">
        </div>

        <div class="row">
            <div class="col">
                <h1 style="color: purple; background-color:peru;">Purchase Registration</h1>
                <form action="" name="agentReg" class="myForm">
                    <fieldset>
                        <legend>purchase Register</legend>
                        <label for="itemName">Item Name:</label>
                        <input type="text" name="Item name" id="Item name" placeholder="itemName" required> <br><br>
    
                        <label for="itemPrice"> Item Price:</label>
                        <input type="text" name="Item price" id="Item price" placeholder="itemPrice" required> <br><br>
                    
                        <label for="itemNumber">Item No.</label>
                        <input type="text" name="Item number" id="Item number" placeholder="itemNumber" required> <br><br>
                        <label for="initialPay">Initial pay:</label>
                        <input type="text" name="initialPay" id=" initialPay" placeholder=" initialPay" required> <br><br>
    
                        <label for="balance">Balance:</label>
                        <input type="text" name="balance" id=" balance" placeholder=" balance" required> <br><br>
    
                        <input type="Submit" onclick="">
                    </fieldset>
    
                </form>
            </div>
        </div>
    </div>



    <footer>@copy Bridget Akankunda</footer>
    <script src="/bootstrap-4.5.0-dist/js/bootstrap.min.js"></script>
</body>
</html>