<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>covid stores</title>

    <!-- Main Bootstrap and Css links -->
    <link rel="stylesheet" href="/bootstrap-4.5.0-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>



<body <div class="container">
    <div>
        <img width=80vh;,height=100vh; src="/images/covid.jpg" alt="" class="logo">
    </div>

    <div class="row">
        <div class="col ">
            <h1> Register Sales Agent </h1>
            <form action="" name="agentReg" class="myForm">
                <fieldset>
                    <legend>Sales Agent Details</legend>
                    <div>
                        <label for="firstName"> First Name: &nbsp; </label>
                        <input type="text" name="firstName" id="firstName"><br><br>
                    </div>

                    <div>
                        <label for="lastName"> Last Name: &nbsp;</label>
                        <input type="text" name="lastName" id="lastName"><br><br>

                    </div>

                    <div><label for="employeeID">Employee ID No. &nbsp;</label>
                        <input type="text" name="employeeID" id="employeeID"><br><br>
                    </div>

                    <div>
                        <label for="nationalID">National ID No. &nbsp;</label>
                        <input type="text" name="nationalID" id="nationalID"><br><br>
                    </div>


                    <input type="Submit" onclick="">
                </fieldset>

            </form>
        </div>
      </div>
    </div>

    

    <footer>@copyright Bridget Akankunda</footer>
    <script src="/bootstrap-4.5.0-dist/js/bootstrap.min.js"></script>
</body>

</html>