<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agent Registration</title>
    <link rel="icon" href="/images/covid.jpg" sizes="16x16">


    <!-- Main Bootstrap and Css links -->
    <link rel="stylesheet" href="/bootstrap-4.5.0-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>



<body>
    <div class="container">
        <div>
            <img width="80vh" ;,height="100vh" ; src="/images/covid.jpg" alt="" class="logo">
        </div>

        <div class="row" id="custReg">
            <div class="col">
                <h1> Sales Agent Registration. </h1>
                <form action="/agentReg" name="agentReg" class="agentReg" method="POST">
                    <fieldset>
                        <legend>Please Enter Employee Details</legend>
                        <div class="form-row">
                            <div class="form-group col-12">
                                <label for="firstName">First Name:</label>
                                <input type="text" class="form-control" id="firstName" name="firstName"
                                    placeholder="Enter First Name" required>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-12">
                                <label for="surName">Surname:</label>
                                <input type="text" class="form-control" id="surName" name="surName"
                                    placeholder="Enter Surname" required>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-12">
                                <label for="phoneNumber">Phone Number:</label>
                                <input type="number" class="form-control" id="phoneNumber" name="phoneNumber"
                                    placeholder="Enter Phone Number" required>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-12">
                                <label for="email">Email Address:</label>
                                <input type="email" class="form-control" id="email" name="email"
                                    placeholder="Enter Email Address">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-12">
                                <label for="nin">National ID Number:</label>
                                <input type="text" class="form-control" id="nin" name="nin" placeholder="Enter NIN"
                                    required>
                            </div>
                        </div>
                         <div class="form-row">
                             <div class="form-group col-12">
                                 <label for="address">Physical Address:</label>
                                 <input type="text" class="form-control" id="address" name="address"
                                     placeholder="Enter Physical Address" required>
                             </div>
                         </div>
                        <div class="form-row">
                            <div class="form-group col-12">
                                <label for="employeeID">Employee ID:</label>
                                <input type="text" class="form-control" id="employeeID" name="employeeID"
                                    placeholder="Assign Employee ID" required>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-12">
                                <label for="password">Password:</label>
                                <input type="password" class="form-control" id="password" name="password"
                                    placeholder="Assign Password" required>
                            </div>
                        </div>



                        <input type="Submit" id="agentRegSubmit" name="agentRegSubmit" value="Register">
                    </fieldset>

                </form>
            </div>
        </div>
    </div>
    <footer>@copyright Bridget Akankunda</footer>
    <script src="/bootstrap-4.5.0-dist/js/bootstrap.min.js"></script>
</body>

</html>